.Header {
  background: #ffffff;
  h1 {
    font-size: 20px;
    padding: 15px 0 10px;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 25px;
      padding: 19px 0 14px;
    }
  }
}

.Tab {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-bottom: 1px solid #d2d5de;
  li {
    width: 60px;
    height: 35px;
    padding: 8px 0;
    border-bottom: 2px solid #ffffff;
    line-height: 35px;
    color: #adb5bd;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: #111;
      border-bottom: 2px solid #111;
    }
  }
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}
