.Wishlist {
  display: flex;
  h1 {
    padding: 32px 0;
    color: #090909;
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid #000;
  }
  &__wishItem-wrapper {
    width: 600px;
    padding: 0 0 30px;
    border-bottom: 1px solid #000;
    &__explain {
      font-size: 25px;
      line-height: 300px;
      text-align: center;
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }
  &__coupons {
    display: flex;
  }
}
