.BingoTable {
  margin: 50px;
  background: gray;
  border-collapse: collapse;
}

.BingoRow {
  td {
    height: 80px;
    width: 80px;
    border: solid 1px black;
    &:hover {
        background: #dee2e6;
    }
  }
}
